/* Estilos generales para el home */
body {
    font-family: 'Poppins', sans-serif; /* Letra bonita */
    background: linear-gradient(135deg, #FF9800, #ffad4d, #e2d4fc,#e2d4fc);
    height: 100vh;
    margin: 0;
    background-size: cover;
    color: #fff;
    text-align: center;
    padding: 50px;
}

/* Título principal */
h1 {
    font-size: 3rem;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
}

/* Enlace del catálogo */
a {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 20px;
    font-size: 1.2rem;
    color: #ff5e62;
    background-color: white;
    text-decoration: none;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
}

a:hover {
    background-color: #ff5e62;
    color: white;
    transform: scale(1.1);
}
