body {
    font-family: Arial, sans-serif;
    background-color: #d4defc;
    text-align: center;
}

h1 {
    color: #003580;
}

form {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
    max-width: 500px;
    margin: auto;
}

fieldset {
    border: none;
    margin-bottom: 15px;
    text-align: left;
}

legend {
    font-weight: bold;
    color: #003580;
}

label {
    display: block;
    margin-top: 10px;
}

input, textarea, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #0056D2;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #003580;
}

/* Estilos para los medicamentos */
.medicamento {
    background: #f0f0f0;
    padding: 10px;
    border-radius: 5px;
    margin-top: 10px;
}