body {
    font-family: Arial, sans-serif;
    background-color: #d4defc;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    color: #444;
}

/* Estilos del Catálogo */
.grid-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.doctor-card {
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    width: 250px;
    margin: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
    cursor: pointer;
}

.doctor-card:hover {
    transform: scale(1.1);
}

.doctor-card img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.doctor-card h3 {
    margin: 10px 0 5px;
}

.doctor-card p {
    color: #666;
}

/* Estilos del Detalle */
.doctor-detail {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.doctor-detail img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.certificates {
    margin-top: 20px;
}

.certificates img {
    width: 100px;
    height: 100px;
    margin: 5px;
    border-radius: 5px;
}

.buttons {
    margin-top: 20px;
}

.btn {
    background-color: #e2d4fc;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    color: #333;
    font-weight: bold;
    display: inline-block;
    margin: 5px;
}

.btn-primary {
    background-color: #6a5acd;
    color: white;
}
