.footer {
  background-color: #e2d4fc;
  color: #333;
  padding: 20px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  font-size: 14px;
  border-top: 2px solid #ccc;
}

.footer-item {
  margin: 5px 15px;
}
