.header {
  background-color: #e2d4fc !important;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-nombre {
  display: flex;
  align-items: center;
  gap: 15px;
}

.logo {
  height: 50px;
}

.login-btn, .logout-btn {
  background-color: #6a0dad;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  transition: background-color 0.2s ease;
}

.login-btn:hover, .logout-btn:hover {
  background-color: #4b058f;
}

