html, body {
  margin: 0;
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(
    to right,
    rgba(212, 222, 252, 0.2),
    rgba(226, 212, 252, 0.2)
  ) !important;
  font-family: 'Poppins', sans-serif;
}


/* Quitar límites de contenedor */
#root {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

/* Asegurar que todo lo que pongas se alinee bien */
main {
  flex: 1;
  width: 100%;
}

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* ← esto es clave */
}
