<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalles del Doctor</title>
    <link rel="stylesheet" type="text/css" href="/css/detalleDoctor.css">
</head>
<body>

    <div class="doctor-detalle">
        <h1 th:text="${doctor.nombre}"></h1>
        <img th:src="${doctor.imagen}" alt="Foto del Doctor">
        <h2 th:text="${doctor.especialidad}"></h2>
        <p><strong>Universidad:</strong> <span th:text="${doctor.universidad}"></span></p>
        <p><strong>Teléfono:</strong> <span th:text="${doctor.telefono}"></span></p>
        <a href="/catalogoDoctores" class="btn-volver">Volver al Catálogo</a>
    </div>

</body>
</html>
