<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>MedTech</title>
    <link rel="stylesheet" th:href="@{/css/home.css}">
</head>
<body>

    <h1>Bienvenido a MedTech</h1>

    <div class="modules-container">
        <div class="module">
            <h2>Catálogo de Doctores</h2>
            <a th:href="@{/catalogoDoctores}">Ver Catálogo</a>
        </div>
        
        <div class="module">
            <h2>Administración de Hospitales</h2>
            <a th:href="@{/hospitales}">Ir a Hospitales</a>
        </div>
    </div>

</body>
</html>